@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <img id="title-img" src="~/Content/img/landing_bg_xray_hand.jpg" class="img-fluid" alt="Responsive image">
    <h2 class="display-2 subpage-title">@ViewBag.Title.</h2>

    <p class="lead">
        CheckRay is your one-stop destination for efficient and streamlined X-ray management. Our state-of-the-art system simplifies the entire process of storing, and retrieving X-ray images, making it a vital tool for healthcare professionals, radiologists, and medical facilities.
    </p>
</main>